<md-toolbar md-scroll-shrink ng-if="true" flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="main.toggle()">
      <!--<md-icon>menu</md-icon>-->
	  <img ng-src="https://www.liquery.com/liquery.png" style="width:24px;height:24px" />
    </md-button>
    <p>{{ main.title }}</p> 
    <div style="width: 32px; height: 32px;"><md-progress-circular md-mode="indeterminate" ng-disabled="!loading" md-diameter="24px" style="float:right;"></md-progress-circular></div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left">
  <md-toolbar>
    <h1 class="md-toolbar-tools">
	<md-button class="md-icon-button" aria-label="Menu" ng-click="main.toggle()">
      <!--<md-icon>menu</md-icon>-->
	  <img ng-src="https://www.liquery.com/liquery.png" style="width:24px;height:24px" />
    </md-button>
	&nbsp Menu</h1>
  </md-toolbar>
  <md-list ng-cloak>
  
  	<md-list-item>
      <md-slider-container>
	  <md-input-container>
        <input flex type="number" ng-value="10" ng-model="results" aria-label="results" aria-controls="results-slider" ng-change="getProducts(search)" />
      </md-input-container>
      <span>Results &nbsp</span>
      <md-slider flex min="10" max="100" ng-model="results" aria-label="results" id="results-slider" ng-change="getProducts(search)" />
      </md-slider>      
    </md-slider-container>
    </md-list-item>
	
	<!--
	<md-list-item>
      <md-slider-container>
	  <md-input-container>
        <input flex type="number" ng-value="10" ng-model="radius" aria-label="radius" aria-controls="radius-slider" ng-change="getProducts(search)" />
      </md-input-container>
      <span>KM </span>
      <md-slider flex min="{{mindistanceint+1}}" max="1000" ng-model="radius" aria-label="radius" id="radius-slider" ng-change="getProducts(search)" />
      </md-slider>      
    </md-slider-container>
    </md-list-item>
	-->
	
	<md-list-item>
      <md-slider-container>
	  <md-input-container>
        <input flex type="number" ng-value="50" ng-model="price" aria-label="price" aria-controls="price-slider" ng-change="getProducts(search)" />
      </md-input-container>
      <span>Price &nbsp</span>
      <md-slider flex min="10" max="99" ng-model="price" aria-label="price" id="price-slider" ng-change="getProducts(search)" />
      </md-slider>      
    </md-slider-container>
    </md-list-item>
  
  <md-list-item>
  
  <md-input-container class="md-block" flex>
            <label>Order by</label>
            <md-select ng-model="orderby" ng-change="getProducts(search)">
              <md-option ng-repeat="column in columns">{{column}}</md-option>
            </md-select>
          </md-input-container>
	 <md-switch ng-model="order" aria-label="Desc" ng-true-value="'desc'" ng-false-value="'asc'" class="md-warn" ng-change="getProducts(search)">
	 <md-tooltip md-direction="bottom">Descending sort order</md-tooltip>
	 </md-switch>
  </md-list-item>
  
  <!--
   <md-chips ng-model="types" readonly="false" md-removable="true"
              md-enable-chip-edit="true"></md-chips>
  -->
    <md-list-item ng-click="navigateURL('https://www.liquery.com/search?search=1')">
      <md-icon style="padding-right: 16px; color: #000000">search</md-icon>
      <p>Advanced Search</p>
    </md-list-item>  
    <md-list-item ng-click="navigateURL('https://www.liquery.com/pricedrops')">
      <md-icon style="padding-right: 16px; color: #000000">local_atm</md-icon>
      <p>Price Drops</p>
    </md-list-item>
    <md-list-item ng-click="navigateURL('https://www.liquery.com/lists?list=wish')">
      <md-icon style="padding-right: 16px; color: #000000">loyalty</md-icon>
      <p>Wish List</p>
    </md-list-item>
	<md-list-item ng-click="navigateURL('https://www.liquery.com/lists?list=review')">
      <md-icon style="padding-right: 16px; color: #000000">star</md-icon>
      <p>Reviews</p>
    </md-list-item>
	<md-list-item ng-click="navigateURL('https://www.liquery.com/lists?list=cellar')">
      <md-icon style="padding-right: 16px; color: #000000">schedule</md-icon>
      <p>Cellar</p>
    </md-list-item>
	<md-list-item ng-click="navigateURL('https://www.liquery.com/account')">
      <md-icon style="padding-right: 16px; color: #000000">account_circle</md-icon>
      <p>Account</p>
    </md-list-item>	
	
	<md-list-item ng-click="navigateURL('https://www.liquery.com/')">
      <md-icon style="padding-right: 16px; color: #000000"><img ng-src="https://www.liquery.com/liquery.png" style="width:24px;height:24px;color: #000000" /></md-icon>
      <p>Visit Mobile Site</p>
    </md-list-item>	

  </md-list>
</md-sidenav>

<div layout="column" layout-align="center center" flex>
<md-content class="md-padding">
      <section layout="row" layout-sm="row" layout-align="center" style="height:50px !important" layout-wrap>
        <md-input-container flex>
          <label>Search LiQuery</label>
          <input type="text" ng-model="search" id="search" ng-change="getProducts(search)"/ >
        </md-input-container>
        <md-input-container flex>
        <label>Postal Code</label>
        <input type="text" ng-model="postalcode" id="postalcode" ng-change="getProducts(search)" / >
      </md-input-container>
		<!--md-button class="md-raised" ng-click="getProducts()">Search</md-button-->
          <md-input-container flex>
            <label>KM</label>
            <md-select ng-model="radius" ng-change="getProducts(search)">
			  <md-option>{{mindistanceint+1}}</md-option>
              <md-option ng-repeat="distance in distances" value="{{distance}}.0">
                {{distance}}
              </md-option>
            </md-select>
          </md-input-container>
		<md-input-container flex>
            <label>Results</label>
            <md-select ng-model="results" ng-change="getProducts(search)">
              <md-option>10</md-option>
              <md-option>20</md-option>
              <md-option>50</md-option>
              <md-option>100</md-option>
              <!--<md-option value="999">ALL</md-option>-->
            </md-select>
          </md-input-container>
      </section>
	<div>
<!--<md-list style="overflow-y: scroll;max-height:500px;min-height:250px;" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()">-->
<md-list style="overflow-y: scroll;max-height:512px;min-height:256px;" >
        <md-subheader class="md-no-sticky">Search results within {{radius}}KM under ${{price}} (showing {{ totalItems }}):</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="product in products" ng-click="navigateURL('https://www.liquery.com/product?itemnum='+product.itemnum+'&code='+postalcode)" style="background-color:#EEEEEE;">
          <img checkImage ng-src="https://www.liquery.com/images/{{ product.itemnum }}.jpg" class="md-avatar" alt="{{product.itemname}}" height="100%" /><div class="rating">{{product.score>0 ? product.score : ""}}</div>
          <!--<div class="image"><img checkImage ng-src="https://www.liquery.com/images/{{ product.itemnum }}.jpg" class="md-avatar" alt="{{product.itemname}}" /><div class="rating">{{product.score}}</div></div>-->
          <div class="md-list-item-text" layout="column">
            <h3>{{product.itemname}}</h3>
            <h4>{{product.stocktype}} {{product.itemnum}} | {{product.country}} | {{product.varietal || product.type || product.identity}} {{product.quantity>0 ? product.quantity : 1}}x{{product.size}}mL {{product.alcohol}}% ABV
			<br /><b>${{product.price}}</b> | <i>{{product.percent}}% off average price ~${{product.avgprice}}</i></h4>
            <p>{{ product.inventory }} in stock at {{product.numstores}} store(s)</p>
          </div>
        </md-list-item>
</div>  
    </md-content>
	

</div>

<!--
  <md-card ng-repeat="product in products" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ product.itemname }}</span>
            <span class="md-subhead">{{ product.itemnum }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"><img src="https://www.liquery.com/images/{{ product.itemnum }}.jpg" /></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

    <md-whiteframe class="md-whiteframe-3dp" layout="column" style="margin: 1em; width: 22em; height: 15em;" flex>
    <div layout="column" flex style="margin-left: 1em;">
      <h4>Project:</h4>
      <p style="margin-top: -1em;">LiQuery Mobile</p>
      <h4>Created by:</h4>
      <p style="margin-top: -1em;">LiQuery</p>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-align="space-around center" flex="20">
      <md-button class="md-icon-button" aria-label="Project" ng-href="https://www.liquery.com">
        <md-icon style="color: #000000">book</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Creator" ng-href="https://www.liquery.com">
        <md-icon style="color: #000000">favorite</md-icon>
      </md-button>
    </div>
  </md-whiteframe>

  <md-button class="md-fab md-primary" aria-label="Menu">
    <md-icon>menu</md-icon>
  </md-button>
  
  -->
  

